    body{
        margin: 0 0 0 0;
        background: rgb(87, 83, 79);
        color: white;
        text-align: center;
    }

    main{
        padding-top: 40px;
        font-size: 20px;
       
    }

    .chapter-title{
        text-align: center;
        font-size: 45px;
        margin: 0 0 0 0;
        font-family: 'Eater';
        
        text-shadow: 
            -2px -2px  black,  
            2px -2px  black,
            -2px  2px  black,
            2px  2px  black;
    }   

    .passo.ativo{
        display: block;
        width: 1040px;
        margin: auto;
    }

    .passo{
        display: none;
        width: 940px;
        margin: auto;
    }

    .pergunta-de-escolha{
        margin: 0 0 15px 0;
        font-size: 30px;
        font-family: 'Dancing Script';
        font-weight: bold;
        font-style: italic;

        text-shadow: 
            -1px -1px  black,  
            1px -1px  black,
            -1px  1px  black,
            1px  1px  black;
    }

    .btn-proximo{
        background-color: rgb(131, 131, 235);
        color: black;
        font-family: 'Dancing Script';
        font-size: 25px;
        font-weight: bold;


        margin: 0 10px 0 10px;
        border: 2px solid black;
        border-radius: 20px;
    }



